<%content_for :title do%>
: Create User<% end %>

<h1>Create New User</h1>

<form action="<%=users_url%>" method="POST">
  <%= auth_token %>

  <label for="user_email">Email</label>
  <input type="text" id="user_email" name="user[email]" value="<%=@user.email%>">

  <label for="user_password">Password</label>
  <input type="text" id="user_password" name="user[password]">

  <button>Submit</button>
</form>
